<table mat-table [dataSource]="charactersRow" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let char" fxLayout="row wrap" fxLayoutAlign="start center" >
         <img [src]="imgSource + getImageName(char.name) + '.png'" 
         class="image-avatar" alt="no img">
         <span class="title-char">{{getCharName(char.name)}}</span>
        </td>
      </ng-container>

    <ng-container matColumnDef="situation" class="centred">
      <th mat-header-cell *matHeaderCellDef class="centred">Situazione </th>
      <td mat-cell *matCellDef="let char" class="centred icon-table">
        <fa-icon icon="fist-raised" *ngIf="char.alive === true"></fa-icon>
        <fa-icon icon="skull-crossbones" *ngIf="char.alive === false"></fa-icon>
        <fa-icon icon="minus" *ngIf="char.alive !== false && char.alive !== true"></fa-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="became" class="centred">
      <th mat-header-cell *matHeaderCellDef class="centred">Estraneo </th>
      <td mat-cell *matCellDef="let char" class="centred icon-table">
          <fa-icon icon="skull" *ngIf="char.becameNight === true"></fa-icon>
          <fa-icon icon="cross" *ngIf="char.becameNight === false"></fa-icon>
          <fa-icon icon="minus" *ngIf="char.becameNight !== false && char.becameNight !== true"></fa-icon>  
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="killedBy" class="centred">
      <th mat-header-cell *matHeaderCellDef class="centred">Ucciso da </th>
      <td mat-cell *matCellDef="let char" class="centred">
        <span *ngIf="char.killedBy">{{getCharName(char.killedBy)}}</span>
        <span *ngIf="!char.killedBy" class="icon-table">
            <fa-icon icon="minus"></fa-icon>
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>