<div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="2% grid">
  <div fxFlex.sm="100%" fxFlex.xs="100%" fxShow.lg="false" fxShow.md="false">
    <mat-card [ngStyle]="{'margin-bottom.px':16}" fxFlex.sm="100%" fxFlex.xs="100%" fxShow.lg="false" fxShow.md="false">
      <a href="assets/TotoGot.pdf" download target="_blank" [ngStyle]="{'color': 'white'}">
        <fa-icon [ngStyle]="{'font-size.px': 30,'padding-right.px':30}" icon="download"></fa-icon>
        <h2 class="inline title-got">PARTECIPA</h2>
      </a>
    </mat-card>
  </div>
  <div fxFlex.sm="100%" fxFlex.xs="100%" fxFlex="65%">
    <mat-card [ngStyle]="{'margin-bottom.px':16}" fxFlex="100%">
      <h2 class="title-got">Regolamento</h2>
      <ol type="1">
        <li>
          Indovina il destino dei personaggi alla fine della 8° serie di GoT: 1 punto
          per ogni risposta corretta.
        </li>

        <li>
          Se hai selezionato la morte di un personaggio, puoi indicare se diventerà un
          <i>Estraneo (1 punto per ogni risposta esatta, -1 se errata).</i>
        </li>
        <li>
          Se hai selezionato la morte di un personaggio, puoi indicare se da chi sarà
          ucciso <i>(3 punto per ogni risposta esatta, -1 se errata).</i>
        </li>

        <li>
          Puoi aggiungere fino a 2 personaggi extra di cui indicare il destino. I loro
          punteggio vale come i personaggi predefiniti <br>
          (L’aggiunta di un personaggio
          va indicata inserendo Nome e Cognome/ Casata, non verranno considerati
          validi soprannomi o descrizioni_es: Jon Snow ok, il re del nord invalido).
        </li>
        <li>
          Se pensi che qualche personaggio possa ritornare nella serie [ritorni in
          vita, non sia effettivamente morto,…] puoi indicarlo nelle relative caselle.
          <i>(4 punti per ogni risposta esatta, -1 se errata).</i>
        </li>
        <li>Rispondi correttamente alle domande per aver punti Bonus.</li>
        <li>
          Tutte le risposte verrano verifiche al termine della storyline “attuale”:
          questo significa che, nel caso in cui al termine della stagione verrà
          mostrata la sorte dei personaggi/regni X anni dopo, questi non saranno
          considerati.
          <i>Es: A sale sul trono. Vengono mostrate le scene di 5 anni dopo e sul
            trono c’è il figlio di A: la risposta corretta alla domanda “Chi salirà
            sul trono di spade?” è A.</i>
        </li>
        <li>
          E’ possibile non rispondere alle domande o lasciare caselle vuote: verranno
          calcolate come 0 punti.
        </li>
        <li>
          Nelle risposte Bonus sono possibili anche le risposte <i>“Nessuno”/“Qualcuno
            mai apparso nella stagioni precedenti” e simili.</i> 10. Partecipazione 2€. Chi
          fa più punti, vince l’intero montepremi. Da completare entro il 13 Aprile
          2019.
        </li>
        <li>Ogni persona potrà completare un solo questionario.</li>
        <li>
          Il questionario potrà essere consegnato a mano agli organizzatori [
          Basso&Berto] o caricato sulla
          <a [ngStyle]="{'color': 'white'}" href="https://drive.google.com/open?id=1bES0DGTp9rO4Q0R1Lh2wtXo3xe1U8zIK"
            target="_blank">
            cartella Google Drive</a>
          ,se condiviso su Drive il file dovrà essere rinominato come
          <i>“NOME_totoGot”.</i>
          <ol type="A">
            <li>
              I file caricati su Google Drive possono essere modificati fino al <b>13 Aprile</b> dai relativi
              proprietari,
              farà fede la data di ultima modifica
              del documento.
            </li>
            <li>
              I file caricati su Google Drive potranno essere spostati dagli
              organizzatori al fine di non renderli pubblici fino al <b>13 Aprile.</b>
            </li>
          </ol>
        </li>
        <li>
          L’iscrizione e partecipazione viene considerata valida solamente ad avvenuto
          pagamento entro il <b>13 Aprile 2019</b>
        </li>
      </ol>
    </mat-card>
  </div>
  <div fxFlex.sm="100%" fxFlex.xs="100%" fxFlex="30%">
    <mat-card [ngStyle]="{'margin-bottom.px':16}" fxFlex="100%">
      <br>
      <a href="assets/TotoGot.pdf" download target="_blank" [ngStyle]="{'color': 'white'}">
        <fa-icon [ngStyle]="{'font-size.px': 30,'padding-right.px':30}" icon="download"></fa-icon>
        <h2 class="inline title-got">PARTECIPA</h2>
      </a>
      <br>
      <a href="mailto:basso-massimorispetto@hotmail.it?subject=Iscrizione got" [ngStyle]="{'color': 'white'}">
        <fa-icon [ngStyle]="{'font-size.px': 30,'padding-right.px':30}" icon="paper-plane"></fa-icon>
        <h2 class="inline title-got">Dubbi</h2>
      </a>
      <br>
      <a href="mailto:basso-massimorispetto@hotmail.it?subject=Iscrizione got" [ngStyle]="{'color': 'white'}">
        <fa-icon [ngStyle]="{'font-size.px': 30,'padding-right.px':30}" icon="paper-plane"></fa-icon>
        <h2 class="inline title-got">Quesiti</h2>
      </a>
      <br>

      <br>
      <p class="little">
        Il TOTOGOT è una semplice scommessa per divertirsi insieme guardando Game of Thrones.
        <br>
        Nessun organizzatore tratterà per sé o guadagnerà denaro, dragoni d'oro o stelle di rame.
        Ogni dato fornito dai partepanti è libero quanto.
        <br>
        Non sono stati maltrattati schiavi, dothraki o Bran.
      </p>
    </mat-card>
  </div>
</div>