.title-got{
    font-family: gotFont !important;
    font-weight: normal;
}
.inline{
    display: inline-block;
  }

ol{
    line-height: 30px;
}

.little{
    font-family: cursive;
    font-size: 14px;
    border: solid grey 2px;
    padding: 10px;
}