<div [ngStyle]="{'textAlign':'center'}">
    <h1 mat-dialog-title class="gotTitle">Grazie a </h1>
  <img src="assets/images/edonio.png" class="image-king">
</div>

<div mat-dialog-content class="normal-text" [ngStyle]="{'textAlign':'center'}">
    Gelateria Edonio, Via Riva di Reno 7a. Bologna
    <br>
  Utilizza il codice <strong>Totogot</strong> alla cassa per aver il 10% di sconto!
  <br>
 
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="okClick()">Ok</button>
</div>