.cdk-overlay-dark-backdrop {
    background: rgba(51, 41, 41, 0.96);
  }

  .image-king{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 8px;
}
.azure{
  color:#8bdcee
}
  .gotTitle{
    font-family: gotFont;
    font-size: 2em;
  }
  .normal-text{
    font-family:  Roboto, "Helvetica Neue", sans-serif;
  }