<!--The content below is only a placeholder and can be replaced.-->
<div [class]="'theme-wrapper black-theme'">

  <mat-sidenav-container>

    <!-- <mat-sidenav #sidenav mode="push">
        <div class="branding"><img [src]="logo" />
          <span data-testid="title">{{ 'anms.title.short' | translate}}</span></div>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
            routerLinkActive="active">
            {{item.label | translate}}
          </a>
          <a mat-list-item href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank">
            Github
          </a>
        </mat-nav-list>
      </mat-sidenav> -->

    <div class="wrapper">

      <div class="toolbar" [style.position]="'inherit'">
        <!--left-->
        <section class="stendardo arr">
            <span class="house icon-got-house-startk"></span>
        </section>
        <section class="stendardo bar" [ngStyle]="{'margin-left.em':5}">
            <fa-icon icon="cog"></fa-icon>
        </section>
        <section class="stendardo gry" [ngStyle]="{'margin-left.em':10}">
            <fa-icon icon="cog"></fa-icon>
        </section>
        <section class="stendardo lan" [ngStyle]="{'margin-left.em':15}">
            <fa-icon icon="cog"></fa-icon>
        </section>
        <section class="title">
            <span>TOTO GOT</span>
          </section>
        <!--rigth-->
        <section class="stendardo mar" [ngStyle]="{'right':'0%'}">
            <fa-icon icon="cog"></fa-icon>
        </section>
        <section class="stendardo tul" [ngStyle]="{'right':'0%','margin-right.em':5}">
            <fa-icon icon="cog"></fa-icon>
        </section>
        <section class="stendardo tar" [ngStyle]="{'right':'0%','margin-right.em':10}">
            <fa-icon icon="cog"></fa-icon>
        </section>
        <section class="stendardo sta" [ngStyle]="{'right':'0%','margin-right.em':15}">
            <fa-icon icon="cog"></fa-icon>
        </section>
      
        <mat-toolbar [ngStyle]="{'background':'transparent'}">
          <button mat-icon-button routerLink="ranking" class="d-none d-sm-inline ranking-button">
            <fa-icon icon="list-ol"></fa-icon>
          </button>
          <button mat-icon-button routerLink="details" class="d-none d-sm-inline details-button">
              <fa-icon icon="book-dead"></fa-icon>
            </button>
            <button mat-icon-button routerLink="statistic" class="d-none d-sm-inline statistic-button">
                <fa-icon icon="chart-bar"></fa-icon>
              </button>
            <button mat-icon-button routerLink="statistic" class="d-none d-sm-inline info-button">
                <fa-icon icon="question-circle"></fa-icon>
              </button>
        </mat-toolbar>
      </div>
      <div class="content">
        <div class="background">
          <div class="gradient">
            <div class="container">
              <router-outlet #o="outlet"></router-outlet>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="row">
          <div class="col-sm-12 links">
            <a href="https://www.facebook.com/simone.basso.79" target="_blank">
              <fa-icon [icon]="['fab','facebook-square']"></fa-icon>
              <span>Facebook</span>
            </a>
            <a href="https://www.instagram.com/basso7" target="_blank">
              <fa-icon [icon]="['fab','instagram']"></fa-icon>
              <span>Instagram</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year" data-testid="footer-year">2019</span> - puntata 8x01
            <br class="d-block d-sm-none">
            <a href="https://www.hbo.com/game-of-thrones" target="_blank">
              <fa-icon icon="rocket"></fa-icon>
              <span>totoGoto</span>
            </a>
          </div>
        </div>
      </div>

    </div>

  </mat-sidenav-container>

  </div>