@import '../styles-variables.scss';
@import '../styles-icon.scss';
@font-face {
  font-family: gotFont;
  src: url(../assets/fonts/GameOfThrones.ttf);
}

.house-toolbar{
  padding: 0;
}



.theme-wrapper {
    height: 100%;
    width: 100%;
    font-family: gotFont !important;
  }
  
  mat-sidenav-container {
    height: 100%;
    width: 100%;
  
    .toolbar {
      position: fixed;
      width: 100%;
      display: flex;
      z-index: 10;
  
      .nav-button {
        margin: 0 10px 0 0;
      }
  
      fa-icon {
        font-size: 24px;
      }
  
      .branding {
        cursor: pointer;
        overflow: hidden;
        padding-top: 4px;
        text-overflow: ellipsis;
  
        &.center {
          text-align: center;
        }
  
        &.title {
          font-family: gotFont;
          font-size: 30px;
        } 
        img {
          position: relative;
          top: -2px;
          width: 48px;
          height: 48px;
        }
      }
  
      .mat-stroked-button {
        margin-right: 10px;
      }
  
      .spacer {
        flex: 1 1 auto;
      }
  
      mat-select {
        margin: 0 0 0 20px;
        width: 40px;
        font-size: 14px;
      }
  
      @media (max-width: map-get($grid-breakpoints, lg)) {
        .nav-button {
          min-width: 0;
          padding: 0 10px;
        }
      }
    }
  
    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
  
      .content {
        flex: 1 0 auto;
        margin-top: 0px;
        overflow: hidden;
      }
  
      .footer {
        flex: 0 0 auto;
        padding: 0 15px;
        text-align: center;
  
        .row {
          padding: 10px 0;
  
          .links {
            a {
              transition: padding 0.5s;
              display: inline-block;
              padding: 20px 5px;
  
              &:hover {
                text-decoration: none;
              }
  
              fa-icon {
                font-size: 30px;
                width: 35px;
              }
  
              span {
                display: inline-block;
                width: 120px;
                padding: 0 0 0 3px;
                overflow: hidden;
                text-align: left;
                white-space: nowrap;
                transition: width 0.5s;
              }
            }
  
            @media (min-width: map-get($grid-breakpoints, lg)) {
              a {
                padding: 20px 10px;
              }
            }
  
            @media (max-width: map-get($grid-breakpoints, md)) {
              a {
                padding: 20px;
  
                span {
                  width: 0;
                  padding: 0;
                }
              }
            }
  
            @media (max-width: map-get($grid-breakpoints, sm)) {
              a {
                padding: 20px 5px;
              }
            }
          }
  
          @media (min-width: map-get($grid-breakpoints, sm)) {
            .signature {
              position: relative;
  
              a {
                position: absolute;
                right: 15px;
              }
            }
          }
        }
      }
    }
  
    @media (max-width: $toolbar-breakpoint) {
      .content {
       
      }
    }
  }
  
  mat-sidenav {
    width: 250px;
  
    .branding {
      height: 64px;
      padding: 8px 10px;
      font-size: 20px;
      font-weight: 500;
  
      img {
        height: 48px;
        margin: 2px 10px 0 0;
      }
  
      span {
        position: relative;
        top: 3px;
      }
    }
  
    .mat-nav-list {
      padding-top: 0;
    }
  }

  h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  .background {
    padding: 80px 0 0 0;
    position: relative;
  
    .actions {
      text-align: center;
      margin: 50px;
      z-index: 1;
  
      span {
        display: inline-block;
        font-weight: bold;
        padding: 20px 10px 30px 10px;
      }
  
      a {
        margin: 0 5px 10px 0;
  
        &.actions-main {
          text-transform: uppercase;
          padding: 3px 24px;
        }
  
        fa-icon {
          position: relative;
          bottom: 1px;
        }
      }
    }
  
    &::before {
      position: absolute;
      min-height: 1200px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url('../assets/images/background.jpg') repeat center top;
      background-size: contain;
      opacity: 0.7;
      content: '';
      z-index: 0;
    }
  
    .gradient {
      &::before {
        min-height: 1200px;
        position: absolute;
        top: 1%;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: 0;
      }
    }
  
    .container {
      position: relative;
      padding-top: 0px;
      padding: 36px;
    }
  }
  
  .stendardo {
    top: 0;
    z-index: 3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    position: absolute;
    height: 6em;
    width: 5em;

    fa-icon {
      position: relative;
      margin: 28%;
      top: 10%;
      font-size: 2.5em !important;
    }
    .house {
      font-size: 4em;
      top: 10%;
      left: 10%;
      position: relative;
    }
    &.arr{
      background-color: $h-arr;
      color:$h-arr-i;
    }
    &.bar{
      background-color: $h-bar;
      color:$h-bar-i;
    }
    &.gry{
      background-color: $h-gry;
      color:$h-gry-i;
    }
    &.lan{
      background-color: $h-lan;
      color:$h-lan-i;
    }
    
    &.sta{
      background-color: $h-sta;
      color:$h-sta-i;
    }
    &.tar{
      background-color: $h-tar;
      color:$h-tar-i;
    }
    &.tul{
      background-color: $h-tul;
      color:$h-gry-i;
    }
    &.mar{
      background-color: $h-mar;
      color:$h-mar-i;
    }
    &.tyr{
      background-color: $h-tyr;
      color:$h-tyr-i;
    }
    &.nig{
      background-color: $h-nig;
      color:$h-nig-i;
    }

  }
  .title {
    background:transparent;
    position: absolute;
    text-align: center;
    margin-left: 40%;
    padding-top: 0.5em;
    text-transform: uppercase;
    span {
      font-family: gotFont;
      height: 100%;
      width: 100%;
      font-size: 2em;
    }
    

  }
  .transparent{
    background: transparent !important;
  }
  .spacer{
    padding-right: 80%;
  }
  .menu-button{
    font-size: 40px;
    padding-right: 60px;
  }
  .details-button{
    padding-top: 9em;
    right: 0%;
    padding-left: 4%;
  }
  .statistic-button{
    padding-top: 9em;
    right: 0%;
    padding-left: 4%;
  }
  .info-button{
    padding-top: 9em;
    right: 0%;
    padding-left: 4%;
  }
  
  .medico{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  .menu-icon-button{
    height: 55px !important;
    width: 55px !important;
    font-size: 30px !important;
  }


