table {
    width: 100%;
    font-family: gotFont;
  }

.centred{
    text-align: center;
}

.icon-table{
    fa-icon{
        font-size: 2em;
    }
   
}

.success{
    color:green;
}
.error{
    color:#f44336;
}
.icon-alive {
    font-size: 2em;
    color: green;
}

.icon-dead {
    font-size: 2em;
    color: green;
}
.image-avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 8px;
}

.my-h3{
    display: inline-block;
    font-family: gotFont !important;
}

.title-char{
    position: relative;
    top: -30px;
}