@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';
$icomoon-font-path: '../assets/fonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//DEF
// PER NOTIFICHE
$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);
// PERSONAL
$error-color: mat-color($mat-red, 800);
$light-grey: unquote('#80808054');
$dark-grey: mat-color($mat-grey, 800);
$sm-orange: unquote('#ed6b28');
$sm-green: unquote('#1fb3ab');
//material
$h-arr: unquote('#002b4d');
$h-bar: unquote('#ffb200');
$h-gry: unquote('#101106');
$h-lan: unquote('#af002c');
$h-sta: unquote('#f5f4f3');
$h-tar: unquote('#101106');
$h-tul: unquote('#002b4d');
$h-mar: unquote('#ff8700');
$h-tyr: unquote('#92b691');
$h-nig: unquote('#f5f4f3');

$h-arr-i: unquote('#f6efbe');
$h-bar-i: unquote('#101106');
$h-gry-i: unquote('#ffb200');
$h-lan-i: unquote('#ffb200');
$h-sta-i: unquote('#8a8e8d');
$h-tar-i: unquote('#af002c');
$h-tul-i: unquote('#f6efbe');
$h-mar-i: unquote('#af002c');
$h-tyr-i: unquote('#ffb200');
$h-nig-i: unquote('#00c2ff');


$icomoon-font-family: "icongot" !default;



$icon-got-house-tully: "\e9a6";
$icon-got-guard-path1: "\e99e";
$icon-got-guard-path2: "\e99f";
$icon-got-guard-path3: "\e9a0";
$icon-got-guard-path4: "\e9a1";
$icon-got-guard-path5: "\e9a2";
$icon-got-guard-path6: "\e9b8";
$icon-got-guard-path7: "\e9b9";
$icon-got-guard-path8: "\e9ba";
$icon-got-guard-path9: "\e9bb";
$icon-got-guard-path10: "\e9bc";
$icon-got-guard-path11: "\e9bd";
$icon-got-guard-path12: "\e9be";
$icon-got-guard-path13: "\e9bf";
$icon-got-guard-path14: "\e9c0";
$icon-got-guard-path15: "\e9c1";
$icon-got-guard-path16: "\e9c2";
$icon-got-throne-path1: "\e901";
$icon-got-throne-path2: "\e902";
$icon-got-throne-path3: "\e903";
$icon-got-throne-path4: "\e904";
$icon-got-throne-path5: "\e905";
$icon-got-throne-path6: "\e906";
$icon-got-throne-path7: "\e907";
$icon-got-throne-path8: "\e908";
$icon-got-throne-path9: "\e909";
$icon-got-throne-path10: "\e90a";
$icon-got-throne-path11: "\e90b";
$icon-got-throne-path12: "\e90c";
$icon-got-throne-path13: "\e90d";
$icon-got-throne-path14: "\e90e";
$icon-got-throne-path15: "\e90f";
$icon-got-throne-path16: "\e910";
$icon-got-throne-path17: "\e911";
$icon-got-throne-path18: "\e912";
$icon-got-throne-path19: "\e913";
$icon-got-throne-path20: "\e914";
$icon-got-throne-path21: "\e915";
$icon-got-throne-path22: "\e916";
$icon-got-throne-path23: "\e917";
$icon-got-throne-path24: "\e918";
$icon-got-throne-path25: "\e919";
$icon-got-throne-path26: "\e91a";
$icon-got-throne-path27: "\e91b";
$icon-got-throne-path28: "\e91c";
$icon-got-throne-path29: "\e91d";
$icon-got-throne-path30: "\e91e";
$icon-got-throne-path31: "\e91f";
$icon-got-throne-path32: "\e920";
$icon-got-throne-path33: "\e921";
$icon-got-throne-path34: "\e922";
$icon-got-throne-path35: "\e923";
$icon-got-throne-path36: "\e924";
$icon-got-throne-path37: "\e925";
$icon-got-throne-path38: "\e926";
$icon-got-throne-path39: "\e927";
$icon-got-throne-path40: "\e928";
$icon-got-throne-path41: "\e929";
$icon-got-throne-path42: "\e92a";
$icon-got-throne-path43: "\e92b";
$icon-got-throne-path44: "\e92c";
$icon-got-throne-path45: "\e92d";
$icon-got-throne-path46: "\e92e";
$icon-got-throne-path47: "\e92f";
$icon-got-throne-path48: "\e930";
$icon-got-throne-path49: "\e931";
$icon-got-throne-path50: "\e932";
$icon-got-throne-path51: "\e933";
$icon-got-throne-path52: "\e934";
$icon-got-throne-path53: "\e935";
$icon-got-throne-path54: "\e936";
$icon-got-throne-path55: "\e937";
$icon-got-throne-path56: "\e938";
$icon-got-throne-path57: "\e939";
$icon-got-throne-path58: "\e93a";
$icon-got-throne-path59: "\e93b";
$icon-got-throne-path60: "\e93c";
$icon-got-throne-path61: "\e93d";
$icon-got-throne-path62: "\e93e";
$icon-got-throne-path63: "\e93f";
$icon-got-throne-path64: "\e940";
$icon-got-throne-path65: "\e941";
$icon-got-throne-path66: "\e942";
$icon-got-throne-path67: "\e943";
$icon-got-throne-path68: "\e944";
$icon-got-throne-path69: "\e945";
$icon-got-throne-path70: "\e946";
$icon-got-throne-path71: "\e947";
$icon-got-throne-path72: "\e948";
$icon-got-throne-path73: "\e949";
$icon-got-throne-path74: "\e94a";
$icon-got-throne-path75: "\e94b";
$icon-got-throne-path76: "\e94c";
$icon-got-throne-path77: "\e94d";
$icon-got-throne-path78: "\e94e";
$icon-got-throne-path79: "\e94f";
$icon-got-throne-path80: "\e950";
$icon-got-throne-path81: "\e951";
$icon-got-throne-path82: "\e952";
$icon-got-throne-path83: "\e953";
$icon-got-throne-path84: "\e954";
$icon-got-throne-path85: "\e955";
$icon-got-throne-path86: "\e956";
$icon-got-throne-path87: "\e957";
$icon-got-throne-path88: "\e958";
$icon-got-throne-path89: "\e959";
$icon-got-throne-path90: "\e95a";
$icon-got-throne-path91: "\e95b";
$icon-got-throne-path92: "\e95c";
$icon-got-throne-path93: "\e95d";
$icon-got-throne-path94: "\e95e";
$icon-got-throne-path95: "\e95f";
$icon-got-throne-path96: "\e960";
$icon-got-throne-path97: "\e961";
$icon-got-throne-path98: "\e962";
$icon-got-throne-path99: "\e963";
$icon-got-throne-path100: "\e964";
$icon-got-throne-path101: "\e965";
$icon-got-throne-path102: "\e966";
$icon-got-throne-path103: "\e967";
$icon-got-throne-path104: "\e968";
$icon-got-throne-path105: "\e969";
$icon-got-throne-path106: "\e96a";
$icon-got-throne-path107: "\e96b";
$icon-got-throne-path108: "\e96c";
$icon-got-throne-path109: "\e96d";
$icon-got-throne-path110: "\e96e";
$icon-got-throne-path111: "\e96f";
$icon-got-throne-path112: "\e970";
$icon-got-throne-path113: "\e971";
$icon-got-throne-path114: "\e972";
$icon-got-throne-path115: "\e973";
$icon-got-throne-path116: "\e974";
$icon-got-throne-path117: "\e975";
$icon-got-throne-path118: "\e976";
$icon-got-throne-path119: "\e977";
$icon-got-throne-path120: "\e978";
$icon-got-throne-path121: "\e979";
$icon-got-throne-path122: "\e97a";
$icon-got-throne-path123: "\e97b";
$icon-got-throne-path124: "\e97c";
$icon-got-throne-path125: "\e97d";
$icon-got-throne-path126: "\e97e";
$icon-got-throne-path127: "\e97f";
$icon-got-throne-path128: "\e980";
$icon-got-throne-path129: "\e981";
$icon-got-throne-path130: "\e982";
$icon-got-throne-path131: "\e983";
$icon-got-throne-path132: "\e984";
$icon-got-throne-path133: "\e985";
$icon-got-throne-path134: "\e986";
$icon-got-throne-path135: "\e987";
$icon-got-throne-path136: "\e988";
$icon-got-throne-path137: "\e989";
$icon-got-throne-path138: "\e98a";
$icon-got-throne-path139: "\e98b";
$icon-got-throne-path140: "\e98c";
$icon-got-throne-path141: "\e98d";
$icon-got-throne-path142: "\e98e";
$icon-got-throne-path143: "\e98f";
$icon-got-throne-path144: "\e990";
$icon-got-throne-path145: "\e991";
$icon-got-throne-path146: "\e992";
$icon-got-throne-path147: "\e993";
$icon-got-throne-path148: "\e994";
$icon-got-throne-path149: "\e995";
$icon-got-throne-path150: "\e996";
$icon-got-throne-path151: "\e997";
$icon-got-throne-path152: "\e998";
$icon-got-throne-path153: "\e999";
$icon-got-throne-path154: "\e99a";
$icon-got-throne-path155: "\e99b";
$icon-got-throne-path156: "\e99c";
$icon-got-throne-path157: "\e99d";
$icon-got-house-martell: "\e9a3";
$icon-got-house-arryn-path1: "\e9a4";
$icon-got-house-arryn-path2: "\e9a5";
$icon-got-house-greyjoy-path1: "\e9aa";
$icon-got-house-greyjoy-path2: "\e9ab";
$icon-got-house-greyjoy-path3: "\e9ac";
$icon-got-house-greyjoy-path4: "\e9ad";
$icon-got-house-greyjoy-path5: "\e9ae";
$icon-got-house-targaryen: "\e9af";
$icon-got-house-barathion-path1: "\e9b0";
$icon-got-house-barathion-path2: "\e9b1";
$icon-got-house-barathion-path3: "\e9b2";
$icon-got-house-barathion-path4: "\e9b3";
$icon-got-house-barathion-path5: "\e9b4";
$icon-got-house-barathion-path6: "\e9b5";
$icon-got-house-barathion-path7: "\e9b6";
$icon-got-house-barathion-path8: "\e9b7";
$icon-got-house-lannister-path1: "\1f42f";
$icon-got-house-lannister-path2: "\1f430";
$icon-got-house-lannister-path3: "\1f431";
$icon-got-house-startk: "\1f43a";
$icon-got-handsOfKing: "\e900";
