@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';
$icomoon-font-path: '../assets/fonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//DEF
// PER NOTIFICHE
$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);
// PERSONAL
$error-color: mat-color($mat-red, 800);
$light-grey: unquote('#80808054');
$dark-grey: mat-color($mat-grey, 800);
$sm-orange: unquote('#ed6b28');
$sm-green: unquote('#1fb3ab');
//material
$h-arr: unquote('#002b4d');
$h-bar: unquote('#ffb200');
$h-gry: unquote('#101106');
$h-lan: unquote('#af002c');
$h-sta: unquote('#f5f4f3');
$h-tar: unquote('#101106');
$h-tul: unquote('#002b4d');
$h-mar: unquote('#ff8700');
$h-tyr: unquote('#92b691');
$h-nig: unquote('#f5f4f3');

$h-arr-i: unquote('#f6efbe');
$h-bar-i: unquote('#101106');
$h-gry-i: unquote('#ffb200');
$h-lan-i: unquote('#ffb200');
$h-sta-i: unquote('#8a8e8d');
$h-tar-i: unquote('#af002c');
$h-tul-i: unquote('#f6efbe');
$h-mar-i: unquote('#af002c');
$h-tyr-i: unquote('#ffb200');
$h-nig-i: unquote('#00c2ff');


$icomoon-font-family: "icongot" !default;


$icon-got-house-lannister-path1: "\1f42f";
$icon-got-house-lannister-path2: "\1f430";
$icon-got-house-lannister-path3: "\1f431";
$icon-got-house-startk: "\1f43a";
$icon-got-handsOfKing: "\e900";
$icon-got-home: "\e901";