
.cdk-overlay-dark-backdrop {
  background: rgba(51, 41, 41, 0.96);
}


table {
  width: 100%;
  font-family: gotFont !important;
}

.td-number{
  font-family: fantasy;
  font-size: 18px;
}

.centred{
  text-align: center;
}
.icon{
  font-size: 3em;
}

.icon-table{
  fa-icon{
      font-size: 2em;
  }
}
.inline{
  display: inline-block;
}
  .puntata {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', fantasy;
  }

  .panel-title {
    font-family: gotFont
  }
  .info-legend{
    padding-right: 8px;
    padding-left: 8px;
    fa-icon{
    font-size: 25px;
    padding-right: 8px;
  }
  }


.centred{
    text-align: center;
}

/deep/ .countdown {
  top: 0px;
  text-align: center;
  width: 100%;
  height: 100px;

  .measurements {
    font-family: GotFont;
    color: white;
    margin-right: 5px;
    padding: 10px;
    .measurements-number{
      margin: 0;
      font-size: 40px;
    }
 }

 .divider {
  font-size: 30px;
 }
}
.timer-container{
padding-bottom: 15%;
 
img{
  left: 28%;
    top: -3%;
    position: absolute;
    max-height: 300px;
}


countdown {
  text-align: center;
  top: 0px;
  position: absolute;
  display: inline;
  align-items: center;
  align-content: center;
  align-self: center;
  left: 31%;
  top: 0%;
  .time{
    display: inline-block;
    font-size: 30px;
    padding:20px;
  }
  .label{
    padding-top: 20px;
    font-size: 20px;
  }
  }
}

.timer-container-xs{
  padding-bottom: 15%;
  text-align: center;
  countdown {
    text-align: center;
    top: 0px;
    display: inline;
    align-items: center;
    align-content: center;
    align-self: center;
    left: 31%;
    top: 0%;
    .time{
      background-color: black;
      display: inline-block;
      font-size: 20px;
      padding:6px;
    }
    .label{
      padding-top: 16px;
      font-size: 11px;
    }
    }
  }