<div [ngStyle]="{'textAlign':'center'}">
    <img src="assets/images/avatar/RE_DELLA_NOTTE.png" class="image-king">
</div>
<h1 mat-dialog-title class="gotTitle">ATTENZIONE</h1>
<div mat-dialog-content class="normal-text">
  Il sito può contenere tantissimi spoiler su Game Of Thrones!
  <br>
  Attualmente tutte le informazioni presenti si basano sulla fine della {{puntate}}° puntata della 8° serie.
  <br>
  
  <div [ngStyle]="{'textAlign':'center'}">
      <h3 class="gotTitle">Offerto da</h3>
    <img src="assets/images/edonio.png" class="image-king">
</div>
<div>
    Utilizza il codice <strong>Totogot</strong> alla cassa per aver il 10% di sconto!
    <br>
  Gelateria Edonio, Via Riva di Reno 7a. Bologna
 
</div>



</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Non l'ho ancora vista</button>
  <button mat-button (click)="onWinterClick()" class="azure" cdkFocusInitial>Voglio fare come l'inverno.</button>
</div>